$firstColor: #e67e22;
$secondColor: #fdf2e9;
$thirdColor: #fae5d3;
$fourthColor: #eb984e;
$fifthColor: #cf711f;
$sixthColor: #45260a;

$firstGrey: #888;
$secondGrey: #767676;
$thirdGrey: #6f6f6f;
$fourthGrey: #555;
$fifthGrey: #333;

$firstWhite: #fff;
